/* Background Rules */ 
body {
    background-color: rgb(35,46,51);
    margin:0;
} 

.background {
    position: relative;
    background-color: rgba(0,0,0, .75);
    border-radius: 20px;
    color: white;
    margin: auto;
    display: block;
    width: fit-content;
    background-color: rgb(35,46,51);
}

.dec_border {
    display: block;
    width: calc(100% - 20px - 3px);
    height: calc(100% - 20px - 3px);
    border: rgb(90, 172, 197) 3px solid;
    border-radius: inherit;
    position: absolute;
    left: 8.5px;
    top: 8.5px;
    pointer-events: none;
    background: none !important;
}

/* Important object Rules */
#projectTitle {
    width: 360px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
}

#content {
    width: 500px;
    padding: 20px 36px 34px 36px;
    font-size: medium;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}


/* Image Rules */
#VRIndicator {
    width: 55px;
    position: absolute;
    top: calc(50% - 27.5px);
    right: 12px;
    filter: hue-rotate(276deg) brightness(1.8) contrast(.8);
}

.prepar3dlogo {
    width: 100px;
    position: absolute;
    bottom: 18px;
    right: 18px;
}

/* Interactive Rules */
button {
    margin: 8px auto;
    display: block;
    text-align: center;
    font-size: x-large;
    padding: 4px calc(5px + 15%);
    border-radius: 10px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}




button._focus {
    background-color: rgb(35, 193, 255);
    color: white;
}

button._selected {
    background-color: rgb(27, 88, 146);
    color: white;
}

button._selected._focus {
    background-color: rgb(33, 140, 210);
    color: white;
}


/* Text Rules */
h1 {
    margin: 0px;
    padding: 6px 0px;
}
h2 {
    margin: 0px;
    padding-bottom: 4px;
}

.stats {
    margin: 0px;
    font-size: small;
    color: whitesmoke;
}

/* Question Rules */
.question {
    display: block;
    position: relative;
    padding: 4px 0px;
    margin: 8px;
}

.question._focus {
    background-color: rgb(35, 193, 255);
    color: white;
}

.question._selected {
    background-color: rgb(27, 88, 146);
    color: white;
}

.question._selected._focus {
    background-color: rgb(33, 140, 210);
    color: white;
}



.question .enum_rater:after  {
    width: 100px;
    height: 16px;
    background-color: rgba(0,255,0,.5);
    border: green 2px solid;
    color: rgb(179, 255, 179);
    content: "None";
    padding: 2px 10px;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    top: -3%;
    
    display: block;
    position: absolute;
}


.question._rating1 .enum_rater:after {
    background-color: rgba(251, 255, 0, 0.5);
    border: rgb(235, 219, 0) 2px solid;
    color: rgb(250, 255, 183);
    content: "Light";
}
.question._rating2 .enum_rater:after {
    background-color: rgba(255, 141, 10, 0.5);
    border: rgb(196, 104, 0) 2px solid;
    color: rgb(255, 230, 202);
    content: "Intermediate";
}
.question._rating3 .enum_rater:after {
    background-color: rgba(255, 0, 0, 0.5);
    border: rgb(128, 0, 0) 2px solid;
    color: rgb(255, 182, 182);
    content: "Severe";
}

.question._focus .enum_rater:after {
    color: white;
}


.question p {
    position: relative;
    left: 140px;
    width: calc(100% - 30px);
    margin: 0px;
}